
h1, h2, h3 { text-align: center; }	
p {text-align: left;}
li {text-align: left;}

body 
{
	background: #444444;
	color: #000000;
	font-family: "Linux Libertine Capitals", Arial, Helvetica, sans-serif;
	line-height: 1.5;            
}
.page 
{
	max-width: 800px;
	margin: auto;
	padding: 25px;
	background: #000000;
	background: #FFFFFF;
}
/* barre de navigation */
	.nav-bar 
	{
		background-color: #343434;
		overflow: hidden;
	}
	/* couleur de la page active */
	.nav-bar a.active 
	{
		background-color: #8080FF;
		color: white;
	}
